<template>
  <div>
    <h2>Welcome to the best dad jokes app on the web</h2>
  </div>
</template>

<script>
export default {
  head() {
        return {
            title: 'Welcome to Dad Jokes',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Best place for dad jokes'
                }
            ]
        }
    }
}
</script>
